.post-message {
  padding: 10px 0 8px;
  border-bottom: 1px dotted #CCC;
  -webkit-animation: show 1s; /* Safari 4+ */
  animation: show 1s; /* IE 10+, Fx 29+ */
  @-webkit-keyframes show {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }

  @keyframes show {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  &:first-child {
    padding-top: 0px;
  }
  .user-bloc {
    .pic {
      display: inline-block;
      height: 40px;
      width: 40px;
      background-size: cover;
      border-radius: 50%;
      border: 2px solid $mainColor;
      background-image: url('../images/default-user.jpeg');
      .user-pic {
          width: 100%;
          padding-bottom: 100%;
          border-radius: 50%;
          background-size: cover;
      }
    }

  }
  .info{
    display: inline-block;
    p {
      margin: 0px;
    }
    .name{
      font-size: 18px;
      text-transform: capitalize;
      position: relative;
      top: -3px;  
    }
    .time{
      font-size: 10px;
      color: #AAA;
      position: relative;
      top:-5px;
    }
    
  }
  .message-bloc {
    padding-top: 10px;
    font-size: 16px;
    p {
      margin: 0px;
    }
  }
}