footer {
  padding: 10px;
  background-color: #EEEEEE;
  .app-version{
    display: inline-block;
  }
  .footer-links {
     float: right;
    ul {
      margin-bottom: 0px;
      li {
        display: inline-block;
       padding: 0 5px;
      }
    }
  }
}