.post-container {
  position: relative;
  color: $mainColor;
  background-color: $secondaryColor;
  margin-bottom: 40px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 3px;
  -webkit-animation: show 1s; /* Safari 4+ */
  animation: show 1s; /* IE 10+, Fx 29+ */
  @-webkit-keyframes show {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }

  @keyframes show {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  .left-bloc {
    .top-left-bloc {
      color: $mainColor;
      position: relative;
      .user-pic {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 2px solid $mainColor;
        background-image: url('../images/default-user.jpeg');
        background-size: cover;
        display: inline-block;
      }
      .user-name {
        top: -10px;
        padding-left: 10px;
        display: inline-block;
        font-size: 25px;
        text-transform: capitalize;
        position: relative;
        top: -20px;
      }
    }
    .time {
      color: #AAA;
      i {
        margin-right: 10px;
        &.fa-star {
          margin-left: 20px;
        }
      }
      .vote {
        color: $extraColor;
        font-weight: bold;
      }
      font-size: 12px;
    }
    .post-title {
      margin: 15px 0px;
      font-size: 18px;
      font-weight: bold;
    }
    .post-description {
      font-size: 17px;
      line-height: 24px;
      text-align: justify;
    }
  }

  .right-bloc {
    color: $mainColor;
    position: relative;
    .vote, .bar-container {
      opacity: 0;
      transition: all 0.5s ease;
    }
    .vote-info {
      position: absolute;
      text-align: center;
      top: 4px;
      left: 0px;
      right: 0px;
      font-size: 20px;
      font-weight: bold;
      opacity: 1;
      transition: all 0.5s ease;
    }
    .left, .right {
      .vote{}
      .bar {
        height: 10px;
        transition: all 1s ease;
      }
      .title {
        font-size: 14px;
        margin-top: 10px;
        font-weight: bold;
      }
      .img {
        margin: 10px 0px;
        border-radius: 5px;
        width: 100%;
        padding-bottom: 100%;
        background-color: #2682D5;
        background-size: cover;
        background-position: 50% 50%;
      }
    }
    .left {
      .vote {
        text-align: right;
      }
      .bar {
        border-radius: 5px 0 0 5px;
        float: right;
        background-color: #27ae60;
      }
    }
    .right {
      .bar {
        border-radius: 0 5px 5px 0;
        background-color: #e74c3c;
      }
    }
  }
  // if bloc enable
  &.enable {
    .bar {
      width: 0px !important;
    }
  }
  &.disable {
    &:before {
      position: absolute;
      font-family: 'FontAwesome';
      content: "\f00c";
      top: 5px;
      font-size: 15px;
      line-height: 15px;
      color: #FFF;
      background-color: $mainColor;
      opacity: 0.5;
      padding: 5px 5px 5px 7px;
      right: 5px;
      border-radius: 50%;
    }
    .vote-info {
      opacity: 0;
    }
    .vote, .bar-container {
      opacity: 1;
    }
  }
  .comments-links{
    position: absolute;
    font-family: 'FontAwesome';
    content: "\f086";
    bottom: -15px;
    font-size: 30px;
    line-height: 30px;
    color: $secondaryColor;
    background-color: $extraColor;
    border:1px solid $secondaryColor;
    padding: 8px 8px 8px 10px;
    right: -10px;
    border-radius: 50%;
  }
}

