.login-signup-page {
  .button-container {
    text-align: center;
    .btn {
      background-color: #FFFFFF;
      border-radius: 10px;
      min-width: 80px;
      margin: 5px 5px;
      &.inactive{
        opacity: 0.5;
      }
    }
  }

  .forms-container {
    margin-top: 30px;
    position: relative;
    padding-top: 400px;
    overflow: hidden;
    .form-container {
      position: absolute;
      top: 0px;
      -webkit-transition: all ease 0.3s;
      transition: all ease 0.3s;
      form {
        background-color: #FFFFFF;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.3);
      }
      &.login-container {
        left: 0px;
        opacity: 1;
        &.ng-hide:not(.ng-hide-animate) {
          left: -400px;
          opacity: 0;
          display: block!important;
        }
      }
      &.signup-container {
        left: 0px;
        opacity: 1;
        &.ng-hide:not(.ng-hide-animate) {
          left: 400px;
          opacity: 0;
          display: block!important;
        }
      }
    }
    .login-icon {
      text-align: center;
      color: #FFFFFF;
      font-size: 100px;
      margin-top: 20px;
    }
  }
  .text {
    color: #fff;
    margin-bottom: 130px;
    p {
     font-size: 18px;
     text-align: justify;
    }
  }
}