// @import "reset";
@import "bootstrap";
@import "font-awesome";
@import "variables";
@import "header";
@import "footer";
@import "signup-page";
@import "post";
@import "comments";


html {
  background-color: $mainColor;
  -webkit-font-smoothing: antialiased;
  font-family:"Lucida Sans Unicode", Helvetica, Arial, sans-serif;
  * {
    box-sizing: border-box;
  }

  button, .btn:focus, .btn, .btn.active {
    outline: 0 !important;
  }
}
body {
  background: none;
  padding-top: 40px;
}
.special-font {
  font-family: 'Pacifico', cursive;
}
.error {
  color: red;
}

.homepage {
  color: $secondaryColor;
  padding-bottom: 100px;
  h1 {
    font-size: 70px;
    text-align: center;
    padding: 200px 0px;
  }
  .bloc {
    text-align: center;
    .icon{
      font-size: 70px;
      margin-bottom: 20px;
    }
    p{
      font-size: 30px;
    }
  }
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}



.main-container {
  padding-top: 20px;
  padding-right: 20px;
  min-height: 500px;
}

// ClearFix
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  .cf:after {
    clear: both;
  }
  .cf {
    *zoom: 1;
  }

// Modal 
.modal.fade.fade2 .modal-dialog2 {
  -webkit-transform: scale(0.1);
  -moz-transform: scale(0.1);
  -ms-transform: scale(0.1);
  transform: scale(0.1);
  top: 300px;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.modal.fade.in.fade2 .modal-dialog2 {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  margin-top: 100px;
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
    // -webkit-transform: translate3d(0, -300px, 0);
    // transform: translate3d(0, -300px, 0);
    opacity: 1;
  }
  #commentsModal {
    .modal-header {
      .form-group{
        width: 80%;
        input {
          width: 100%;
        }
      }
      button {
        float: right;
        width: 18%;
        &.close {
          text-align: right;
        }
      }
    }
    .modal-body {
      max-height: 390px;
      overflow: scroll;
    }
  }

