// @import "reset";
@import "bootstrap";
@import "font-awesome";
@import "variables";
@import "header";
@import "footer";
@import "signup-page";
@import "post";


html {
  background-color: $mainColor;
  -webkit-font-smoothing: antialiased;
  * {
    font-family:"Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
  }
  button, .btn:focus, .btn, .btn.active {
    outline: 0 !important;
  }
}
body {
  background: none;
}

.error {
  color: red;
}



.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}



.main-container {
  padding-top: 20px;
  padding-right: 20px;
  min-height: 500px;
}

